body {
  margin: 0;
  background-color: #1e1e1e;
  box-sizing: border-box;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 24px 18.55px 24px 20px;
  display: flex;
  justify-content: space-between;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.header__logo-image {
  height: 16px;
  width: 79px;
}

.header__menu-list {
  list-style: none;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-item_active > .header__menu-link {
  text-decoration: none;
}

.header__menu-link {
  color: #f5f5f5;
}

.cover {
  padding: 7px 20px 5px 20px;
  background: url(../images/cover.svg);
  background-color: #131313;
  background-size: 94% auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.cover-title {
  font-family: "EB Garamond", Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  color: #fff;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.but-not-exactly-right {
  padding-right: 4px;
}

.intro {
  padding: 30px 20px 38px;
}

.intro__heading {
  color: #ccc;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  font-weight: 400;
}

.intro__date {
  white-space: nowrap;
  text-align: right;
}

.intro__main-text {
  margin-top: 24px;
  line-height: 1.35;
}

.reasons {
  padding: 40px 20px 39px;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.content-section__subtitle {
  font-family: "EB Garamond", Georgia, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.125;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 1.35;
  margin-top: 32px;
}

.content-section__list {
  margin-top: 32px;
  font-size: 16px;
  padding-left: 16px;
  line-height: 1.35;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.card {
  font-size: 16px;
  line-height: 1.35;
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  border-radius: 30px;
  /* поставил 21px справа, потому что так было в макете */
  padding: 20px 21px 20px 20px;
}

.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__author-photo {
  width: 100px;
  height: 100px;
}

.card__author-name {
  font-weight: 700;
  line-height: 1.25;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  font-family: "EB Garamond", Georgia, "Times New Roman", serif;
  font-size: 22px;
  font-weight: 500;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
  padding-bottom: 22px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-top: 1px solid #fee42a;
}

.footer__copy {
  line-height: 1.375;
}

.footer__links {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 16px;
}

.footer__link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 14px;
}
